#sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    z-index: 6;
    background-color: #ffffff; /*#9E9E9E*/
    opacity: 1.0;
    box-shadow: 5px 0px 20px #424242;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
}

#open-sidebar {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 1.0em;
    z-index: 5;
}

#open-sidebar img {
    width: 5%;
    height: 5%;
    cursor: pointer;
}

#sidebar #close-sidebar {
    position: absolute;
    top: 0%;
    right: 1%;
    font-size: 1.6em;
    font-weight: 700;
    color: #333333;
    width: 10%;
    cursor: pointer;
}

#sidebar #close-sidebar img {
    width: 100%;
    height: 100%;
}

#sidebar #logo {
    margin-top: 7%;
    margin-bottom: 20%;
}

#sidebar #logo #title {
    font-size: 2em;
    font-weight: 600;
    color: royalblue; /*#333;*/
    /*color: #4169E1;*/
}

#sidebar #logo #subtitle {
    font-size: 1.3em;
    font-weight: 600;
    color: #333;
}

#sidebar .radio-group {
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: left;
    font-size: 1.0em;
    font-weight: 600;
    color: #333;
}


#sidebar .select {
    width: 90%;
    font-size: 1.0em;
    font-weight: 600;
    color: #333;
}

#sidebar button#submit {
    width: 90%;
    font-size: 1.1em;
    font-weight: 600;
    color: white; /*#333;*/
    background-color: royalblue;
}


#sidebar #date-scroller {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    clear: both;
}

#sidebar #date-scroller button {
    width: 49%;
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
}