<hr>
<div id="date"><strong>Датум:</strong> {{date}}</div>
{{#each stationValueList}}
    <div id="item">
        <span>{{stationName}}</span>
        <span>PM10: {{pmValue}}</span>
    </div>
{{/each}}
