<hr>
<div id="date"><strong>Датум:</strong> {{date}}</div>
<table>
    <tr>
        <th>Станица</th>
        <th>PM10</th>
    </tr>
    {{#each stationValueList}}
        <tr>
            <td>{{stationName}}</td>
            <td>{{pmValue}}</td>
        </tr>
    {{/each}}
</table>

<!-- <div id="item">
            <span></span>
            <span>PM10: </span>
        </div>-->

