<div id="slider">
    <button id="seekLeft" class="seekButton">{{seekLeft}}</button>
    <button id="sliderButton">{{playPause}}</button>
    <button id="seekRight" class="seekButton">{{seekRight}}</button>
    <div id="sliderScroller"></div>
</div>